.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .form-switch {
    margin-bottom: 20px;

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      animation: fadeIn 0.5s;
    }
  }
}

@media screen and (max-width: 768px) {
  .app {
    .form-switch {
      button {
        font-size: 0.8rem;
      }
    }
  }
}
