$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #0d2f3f;
$secondary: #286f6c;
$secondary-white: #e7e7e7;
$color-bg: #1f1f38;
$color-bg-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-primary-variant: rgba(77, 181, 255, 0.4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);
$primaryColor: hsl(225, 50%, 48%);
$SecondaryColor: hsl(180, 17%, 95%);
$colorTwo: hsl(28, 100%, 82%);
$hoverColor: hsl(225, 56%, 59%);
$whiteColor: hsl(0, 0%, 100%);
$blackColor: hsl(0, 0%, 12%);
$textColor: hsl(240, 1%, 48%);
$whiteColorDeam: hsl(0, 0%, 93%);
$inputColor: hsl(330, 12%, 97%);
$greyText: rgb(145, 145, 145);
$box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0.05) 0px 4px 6x -2px;

$transition: all 400ms ease;
